@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 class="display-4">Controle Portuário</h1>
    <p>Este sistema foi desenvolvido para otimizar a gestão de operações portuárias, oferecendo uma interface intuitiva para o controle de embarcações, gerenciamento de cargas e acompanhamento de movimentações no porto. Nossa solução visa aumentar a eficiência, segurança e organização nas atividades portuárias, facilitando o fluxo de informações em tempo real.</p>
</div>
